@model string
@{
    ViewData["Title"] = "ReadMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReadMe</h2>


<div id="ReadMeContents">
    @Html.Raw(System.Web.HttpUtility.HtmlEncode(Model))
</div>
<div id="targetDiv"></div>

<script >
    $(document).ready(function () {
        console.log("ready!");
        runMarkupConvert();
    });   
</script>